@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-pattern {
    background-color: #ffffff;
    background-image: linear-gradient(#e6e6e6 0.1em, transparent 0.1em),
      linear-gradient(90deg, #e6e6e6 0.1em, transparent 0.1em);
    background-size: 3em 3em;
    height: 100vh;
  }
}

.ld {
  display: inline-block;
  position: relative;
}

.ld {
  display: inline-block;
  position: relative;
}

.ld-ring {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 24px;
  height: 24px;
  animation: ld-spin 1s infinite linear;
}

@keyframes ld-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
